.header {
    font-family: var(--font-title);
    top: 0;
    width: 100%;
    z-index: 1;
}

.content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2em;

}

.links {
    display: flex;
    gap: 1em;
    text-transform: uppercase;
}

@media (min-width: 1280px) {
    .header {
    }
    .content {
        margin: 0 auto;
        padding: 2em;
        width: 75vw;
    }
}