.gallery {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1vw;
}

.vertical {
    flex-direction: column;
}

.wrapper {
    overflow: hidden;
    width: 100%;
}

.list {
    display: flex;
    gap: 1vw;
    overflow: hidden;
}

@media (min-width: 1024px) {
    .gallery {
        grid-template-columns: repeat(3, 1fr);
    }
}