.gallery {
    display: grid;
    grid-auto-flow: row;
    gap: var(--spacing-md);
}

.wrapper {
    overflow: hidden;
    width: 100%;
    border-radius: var(--border-radius-md);
}

@media (min-width: 720px), (orientation: landscape) {
    .gallery {
        grid-auto-flow: column;
    }
}