.hero {
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 0 5vw;
    aspect-ratio: 16/9;
    border: 1px solid var(--white25);
    /*height: 50vh;*/
    /*box-shadow: 0 0 5vw var(--white25);*/
    /*border-radius: var(--border-radius-md);*/
}

@keyframes scaleIn {
    from {
        transform: scale(0);
    }
    to {
        transform: scale(1);
    }
}

/*.hero:before {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: black;*/
/*    color: white;*/
/*    z-index: -2;*/
/*}*/

.hero:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    background-image: url("/music/music-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    filter: brightness(.5);
    z-index: -1;
    animation: scaleIn .25 ease-in;
}