.link {
    display: flex;
    align-items: center;
    font-size: 125%;
    text-decoration: underline;
    font-style: italic;
    font-family: serif;
    gap: .1em;
    transition: .25s all ease;
}

.link:hover {
    gap: .5em;
}

.icon {
    display: flex;
}