.release {
    font-family: 'Roboto', sans-serif;
    display: grid;
    grid-auto-flow: row;
    /* grid-template-columns: 1fr 1fr; */
    border-radius: var(--border-radius-md);
    /* glowing linear gradient */
    backdrop-filter: blur(10px);
    border: 1px solid #222;
    text-align: center;
}

.release .image {
    margin: var(--spacing-md);
    margin-bottom: 0;
}

.release img {
    border-radius: var(--border-radius-sm);
}

.releaseContent {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    justify-content: center;
    align-items: center;

}

.buttons {
    display: flex;
    /* flex-direction: column; */
    gap: var(--spacing-md);
}

.title {
    font-family: var(--font-title);
    font-weight: bold;
}

@media (min-width: 480px) {
    .buttons {
        grid-auto-flow: column;
    }
}


@media (min-width: 640px) {
    .release {
        display: grid;
        grid-auto-flow: column;
        /* grid-template-columns: 1fr 3fr; */
    }
    .release .image {
        margin: var(--spacing-md);
    }
    .buttons {
        flex-direction: row;
    }
}

@media (min-width: 1024px) {
    .release {
        display: grid;
        /* grid-template-columns: 2fr 3fr; */
    }
}

@media (orientation: landscape) {
    .release {
        display: grid;
        grid-template-columns: 1fr 2fr;
        font-size: 1.5rem;
    }
    .release .image {
        margin: var(--spacing-md);
    }
    .title {
        font-size: 3.2rem;
    }
}