.release {
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-md);
    background-color: black;
    text-align: center;
}

.release .image {
    margin: var(--spacing-md);
    margin-bottom: 0;
}

.release img {
    border-radius: var(--border-radius-sm);
}

.releaseContent {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
    justify-content: center;
    align-items: center;

}

.buttons {
    display: grid;
    grid-auto-flow: row;
    gap: var(--spacing-md);
}

.title {
    font-family: var(--font-title);
    font-size: 150%;
    font-weight: bold;
}

.button {
    font-family: var(--font-title);
    font-weight: bold;
    display: flex;
    gap: .5em;
    padding: .5em 1em;
    border: 2px solid var(--white25);
    border-radius: var(--border-radius-md);
    align-items: center;
    justify-content: center;
    font-size: 90%;
    outline: 0;
    background-color: black;
    transition: .25s all ease;
}

.button:focus {
    background-color: var(--background-color-25);
    box-shadow: 0 0 2em var(--background-color-25);
    transform: scale(1.1);

}

.button:active {
    transform: scale(.9);
}

@media (min-width: 480px) {
    .buttons {
        grid-auto-flow: column;
    }
}


@media (min-width: 720px) {
    .release {
        display: grid;
        grid-template-columns: 1fr 3fr;
    }
    .release .image {
        margin-bottom: var(--spacing-md);
    }
}

@media (min-width: 1280px) {
    .release {
        display: grid;
        grid-template-columns: 2fr 3fr;
    }
}