.release {
    display: grid;
    /*flex-direction: column;*/
    /*justify-content: space-between;*/
    border-radius: var(--border-radius-md);
    background-color: black;
    align-items: center;
    /*border: 1px solid var(--white25);*/
    /*font-family: 'Inconsolata', monospace;*/
}

.release .image {
    padding: var(--spacing-sm);
}

.release img {
    border-radius: var(--border-radius-sm);
}

.releaseContent {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);
    padding: var(--spacing-md);
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.title {
    font-size: 150%;
    font-weight: bold;
}

.button {
    display: flex;
    gap: 1em;
    padding: .5em 1em;
    border: 1px solid var(--white25);
    border-radius: var(--border-radius-sm);
    align-items: center;
}

@media (min-width: 720px) {
    .release {
        grid-auto-flow: column;
    }
}

@media (min-width: 1280px) {
    .release {
        grid-template-rows: 1fr auto;
    }
}