.section {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-md);
    transform-origin: top;
    padding: 2em;
    background-color: var(--section-background-color);
}

.section h1 {
    text-transform: uppercase;
    font-size: 1.5em;
}

@media (min-width: 1280px) {
}