.section {
    display: flex;
    flex-direction: column;
    border-radius: var(--border-radius-md);
    transform-origin: top;
    padding: 2em;
    background-color: var(--section-background-color);
}

.sectionContent {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.section .title {
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;
}

.titleContainer {
    display: flex;
    gap: 1em;
    align-items: center;
}

.line {
    width: 100%;
    height: 2px;
    background-color: var(--background-color-25);
}

@media (min-width: 1280px) {
}