.buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    justify-content: center;
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid var(--white25);
}

@media (min-width: 1024px) {
    .buttons {
    }
}