.imagesContainer {
    display: grid;


}
.hero {
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 0 5vw;
    aspect-ratio: 1/1;
    border: 1px solid var(--white25);
    /*height: 50vh;*/
    /*box-shadow: 0 0 5vw var(--white25);*/
    /*border-radius: var(--border-radius-md);*/
    animation: scaleIn .25s;
}

@keyframes scaleIn {
    from {
        transform: scaleY(0);
     }
    to {
        transform: scaleY(1);
    }
}

.hero:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    background-image: url("/music/music-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    filter: brightness(.5) grayscale(1);
    z-index: -1;
}

.sections {
}

.section {
    display: flex;
    flex-direction: column;
    margin: 2vh 5vw;
    border: 1px solid rgba(255,255,255,.25);
    border-radius: var(--border-radius-md);
    align-items: center;
}

.sectionContent {
    padding: 2vh 10vw 4vh;
}

.section:not(:first-child) {
    /*background-color: rgba(255,255,255,.25);*/
}

.section h1 {
    text-transform: uppercase;
    font-size: 2em;
}

.section p {
    line-height: 2;
}

.section .imageContainer {
    padding: 4px;
    /*display: flex;*/
    /*order: 1;*/
}

.section img {
    border-radius: var(--border-radius-sm);
}

.buttons {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 1em;
    justify-content: center;
    margin-top: 2em;
    padding-top: 1em;
    border-top: 1px solid var(--white25);
}

.button {
    display: flex;
    padding: .5em 2em;
    background-color: #0070f3;
    border-radius: var(--border-radius-sm);
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 1em;
    transition: .25s all ease;
}

.button:hover, .button:focus {
    box-shadow: inset 0 0 0 2px #fff;
    outline: 0;
}

@media (min-width: 1024px) {
    .buttons {
        justify-content: unset;
        flex-direction: unset;
    }
    .button {
        font-size: 100%;
    }
    .section {
        flex-direction: unset;
    }
    .section:nth-child(even) .imageContainer {
        order: 1;
    }
    .sectionContent {
        padding: 2vh 2vw;
    }
    .hero {
        margin: 5vh 10vw;
        aspect-ratio: 16/9;
    }
}

.images {
    display: grid;
    gap: 1em;
    width: 25vw;
    height: 100%;
    /*margin: 5vh 10vw;*/
    /*padding: 5vh 10vw;*/
}

.imageContainer {
    position: relative;
    width: 100%;
}