.galleryContainer {
    display: flex;
    gap: 1vw;
    /*height: 50vh;*/
    /*width: 100vw;*/
    overflow: hidden;
    padding: 1vw 10vh;
}

.mySwiper {
}

.imageContainer {
    width: 100%;
}

.imageContainer img {
   /*border-radius: var(--border-radius-sm);*/

}