.hero {
    position: relative;
    overflow: hidden;
    /*z-index: 1;*/
    height: 50vh;
}

/*.hero:before {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    content: "";*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background-color: black;*/
/*    color: white;*/
/*    z-index: -2;*/
/*}*/

.hero:after {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    width: 100%;
    height: 100%;
    background-color: black;
    color: white;
    background-image: url("/music/music-background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
    filter: brightness(.5);
    /*z-index: -1;*/
}

.section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 5vw 10vw;
}

.section:not(:last-child) {
    border-bottom: 1px solid rgba(255,255,255,.25);
    /*background-color: rgba(255,255,255,.25);*/
}

.section h1 {
    text-transform: uppercase;
    font-size: 2em;
}

.section p {
    line-height: 2;
}

.section img {
    height: 100%;
    width: 50vw;
    order: 1;
    align-self: center;
}

.buttons {
    display: flex;
    gap: 1em;
    justify-content: center;
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid var(--white25);
}

.button {
    display: flex;
    padding: .5em 2em;
    background-color: #0070f3;
    border-radius: var(--border-radius-sm);
    text-align: center;
    align-items: center;
    gap: 1em;
    font-size: 75%;
    transition: .25s all ease;
}

.button:hover, .button:focus {
    box-shadow: inset 0 0 0 2px #fff;
    outline: 0;
}

@media (min-width: 1024px) {
    .buttons {
        justify-content: unset;
    }
    .button {
        font-size: 100%;
    }
    .section {
        flex-direction: unset;
    }
    .section img {
        width: 25vw;
        order: unset;
        align-self: unset;
    }
}

.img {
    border-radius: .25em;
    border: 1px solid rgba(255,255,255,.25);
    padding: 1em;
}