:root {
  --media-query-med: 1024px;
  --white10: rgba(255,255,255,.1);
  --white25: rgba(255,255,255,.25);
  --black25: rgba(0,0,0,.25);
  --black75: rgba(0,0,0,.75);
  --border-radius-sm: .25em;
  --border-radius-md: .5em;
  --border-radius-lg: 1em;
  --border-radius-rnd: 10em;
  --spacing-sm: .5em;
  --spacing-md: 1em;
  --spacing-lg: 2em;
  --spacing-2xlg: 4em;
  --font-title: "Roboto", sans-serif;
  --font-body: "Source Sans Pro", sans-serif;
}

.darkTheme {
  --border-color-25: var(--white25);
  --background-color-25: var(--white25);
  --background-color: #222;
  --background-color-opposite: #ddd;
  --section-background-color: #000;
  --font-color: white;
}

.lightTheme {
  --border-color-25: var(--black25);
  --background-color-25: var(--black25);
  --background-color: #ddd;
  --background-color-opposite: #222;
  --section-background-color: #fff;
  --font-color: black;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-body);
  line-height: 1.6;
}

html {
  font-size: 1rem;
}

body {
  font-size: 1em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-title);
  font-weight: bold;
}

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}