:root {
  --media-query-med: 1024px;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 1rem;
  line-height: 1.6;
}

/*@media (min-width: var(--media-query-med)) {*/
/*  body {*/
/*    margin: 0 auto;*/
/*    max-width: 50vw;*/
/*  }*/
/*}*/

h1, h2, h3, h4, p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}